{{#> main title="Introduction" }}
  <h1>Introduction</h1>
  <p>Counter Strike Global Offensive 2 is a competitive 5 v 5 first person shooter game. Played by an average of 600,000 people per day and over 30 million unique users, the game is very popular in Europe and South America, but recently has been gaining popularity in the United States as well. The game is played professionally with many different organizations and teams at different skill levels. The game is very tactical and simple, and there are thousands of full game demos that can be parsed into game info for machine learning. Many sports betting sites exist to bet on counter strike pro games and many even feature live betting features. I am curious if I would be able to make competitive models for sports betting on games. Counter strike has a very high skill ceiling and I am also curious how machine learning can help me improve, as well as what insights I could gain about positions and gameplay that I otherwise would not have gotten. I enjoy how competitive CS2 is and I am interested in optimizing the performance of players using AI. I think that the amount of data will provide insights if combined with machine learning.
Due to its popularity many sports betting platforms likely use machine learning algorithms to produce their odds. There has also been lots of work developing api’s to scrape game data from different platforms so I hope to use these resources. Python has many libraries that can parse game data and I will have a lot of resources of past betting odds in order to evaluate my predictions. I want to do more comprehensive research into what skills can be the most impactful for players and how you could get better at them.</p>
  <ul>
    <li>What statistics are the biggest indicators of a round win or loss?</li>
    <li>What statistics are the biggest indicators of a game win?</li>
    <li>Which post-plant positions have the greatest success of winning a T round?</li>
    <li>Which map positions have the greatest success of winning a CT round?</li>
    <li>How does getting the first kill impact your odds of winning a round?</li>
    <li>Which roles have the most impact in games?</li>
    <li>Which players have the most impact on their teams?</li>
    <li>Which maps have the highest CT vs T inequality?</li>
    <li>How do timeouts impact a team’s next round success?</li>
    <li>Is it possible to find optimal positioning with machine learning analysis of pro games?</li>
  </ul>
{{/main}}